doctype html
html
    head
        meta(charset="utf-8")
        title Login
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto") 
        link(rel="stylesheet" type="text/css" href="/css/login.css")
    body
        div(class="login-div")
            img(src="img/logo-totvs.png" id="logo-totvs")
            form(class="login-form")
                label(class="login-item") E-mail
                input(class="login-item" type="email")
                label(class="login-item") Senha
                input(class="login-item" type="password")
                label(class="login-item") Lembrar-me
                    input(class="checkbox" type="checkbox")